webservices_TeamForce/wsdl/TeamForce-Manager-RPC.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc/Manager" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TeamForceRPCManagerService" targetNamespace="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc/Manager">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc/Manager" elementFormDefault="unqualified" targetNamespace="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc/Manager" version="1.0">

  <xs:element name="assign_product_to_catalogue" type="tns:assign_product_to_catalogue"/>

  <xs:element name="assign_product_to_catalogueResponse" type="tns:assign_product_to_catalogueResponse"/>

  <xs:element name="assign_product_to_categorie" type="tns:assign_product_to_categorie"/>

  <xs:element name="assign_product_to_categorieResponse" type="tns:assign_product_to_categorieResponse"/>

  <xs:element name="create_catalogue" type="tns:create_catalogue"/>

  <xs:element name="create_catalogueResponse" type="tns:create_catalogueResponse"/>

  <xs:element name="create_product" type="tns:create_product"/>

  <xs:element name="create_productResponse" type="tns:create_productResponse"/>

  <xs:complexType name="assign_product_to_categorie">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="products" type="xs:string"/>
      <xs:element minOccurs="0" name="categorie" type="tns:categorie"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="assign_product_to_categorieResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="product_to_categorie" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="assign_product_to_catalogue">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="products" type="xs:string"/>
      <xs:element minOccurs="0" name="catalogue" type="tns:catalogue"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="catalogue">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="assign_product_to_catalogueResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="product_to_catalogue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="create_product">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="price" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="create_productResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="product" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="create_catalogue">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="create_catalogueResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="catalogue" type="tns:catalogue"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="categorie">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Livres"/>
      <xs:enumeration value="Bijoux"/>
      <xs:enumeration value="Telephonie"/>
      <xs:enumeration value="Vetement"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="assign_product_to_categorie">
    <wsdl:part element="tns:assign_product_to_categorie" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assign_product_to_categorieResponse">
    <wsdl:part element="tns:assign_product_to_categorieResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assign_product_to_catalogueResponse">
    <wsdl:part element="tns:assign_product_to_catalogueResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create_catalogue">
    <wsdl:part element="tns:create_catalogue" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create_catalogueResponse">
    <wsdl:part element="tns:create_catalogueResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assign_product_to_catalogue">
    <wsdl:part element="tns:assign_product_to_catalogue" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create_product">
    <wsdl:part element="tns:create_product" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create_productResponse">
    <wsdl:part element="tns:create_productResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ManagerRPC">
    <wsdl:operation name="assign_product_to_categorie">
      <wsdl:input message="tns:assign_product_to_categorie" name="assign_product_to_categorie">
    </wsdl:input>
      <wsdl:output message="tns:assign_product_to_categorieResponse" name="assign_product_to_categorieResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assign_product_to_catalogue">
      <wsdl:input message="tns:assign_product_to_catalogue" name="assign_product_to_catalogue">
    </wsdl:input>
      <wsdl:output message="tns:assign_product_to_catalogueResponse" name="assign_product_to_catalogueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_product">
      <wsdl:input message="tns:create_product" name="create_product">
    </wsdl:input>
      <wsdl:output message="tns:create_productResponse" name="create_productResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_catalogue">
      <wsdl:input message="tns:create_catalogue" name="create_catalogue">
    </wsdl:input>
      <wsdl:output message="tns:create_catalogueResponse" name="create_catalogueResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TeamForceRPCManagerServiceSoapBinding" type="tns:ManagerRPC">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="assign_product_to_categorie">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="assign_product_to_categorie">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="assign_product_to_categorieResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assign_product_to_catalogue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="assign_product_to_catalogue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="assign_product_to_catalogueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_product">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="create_product">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="create_productResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_catalogue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="create_catalogue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="create_catalogueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeamForceRPCManagerService">
    <wsdl:port binding="tns:TeamForceRPCManagerServiceSoapBinding" name="TeamForceRPCManagerPort">
      <soap:address location="http://localhost:8080/webservices/TeamForce-Manager-RPC"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>