webservices_TeamForce/wsdl/TeamForce-Customer-RPC.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc/Customer" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc" name="TeamForceRPCCustomerService" targetNamespace="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc/Customer">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc/Customer" elementFormDefault="unqualified" targetNamespace="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc/Customer" version="1.0">

  <xs:element name="Addresse" type="tns:addresse"/>

  <xs:element name="Custumer" type="tns:custumer"/>

  <xs:element name="assign_addresses_to_customer" type="tns:assign_addresses_to_customer"/>

  <xs:element name="assign_addresses_to_customerResponse" type="tns:assign_addresses_to_customerResponse"/>

  <xs:element name="create_account" type="tns:create_account"/>

  <xs:element name="create_accountResponse" type="tns:create_accountResponse"/>

  <xs:element name="create_order" type="tns:create_order"/>

  <xs:element name="create_orderResponse" type="tns:create_orderResponse"/>

  <xs:complexType name="create_order">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="products" type="xs:string"/>
      <xs:element minOccurs="0" name="custumer" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="create_orderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="orders" type="tns:order"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="order">
    <xs:sequence>
      <xs:element minOccurs="0" name="custumer" type="xs:IDREF"/>
      <xs:element minOccurs="0" name="date_commande" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="events">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="events" type="tns:event"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="prducts">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="product" type="tns:product"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="order_statut" type="tns:statut"/>
      <xs:element minOccurs="0" name="order_steps" type="tns:steps"/>
    </xs:sequence>
    <xs:attribute name="amount" type="xs:string"/>
    <xs:attribute name="orderid" type="xs:ID"/>
  </xs:complexType>

  <xs:complexType name="custumer">
    <xs:sequence>
      <xs:element minOccurs="0" name="addresses">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addresse" type="tns:addresse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="firstname" type="xs:string"/>
      <xs:element minOccurs="0" name="lastname" type="xs:string"/>
      <xs:element minOccurs="0" name="orders">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="order" type="tns:order"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="phone" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
  </xs:complexType>

  <xs:complexType name="addresse">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" ref="tns:Custumer"/>
      <xs:element minOccurs="0" name="kind" type="xs:string"/>
      <xs:element minOccurs="0" name="line1" type="xs:string"/>
      <xs:element minOccurs="0" name="line2" type="xs:string"/>
      <xs:element minOccurs="0" name="zip" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="event">
    <xs:sequence>
      <xs:element minOccurs="0" name="order" type="xs:IDREF"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="text" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="product">
    <xs:sequence>
      <xs:element minOccurs="0" name="catalogue" type="xs:IDREF"/>
      <xs:element minOccurs="0" name="categorie" type="tns:categorie"/>
      <xs:element minOccurs="0" name="order" type="xs:IDREF"/>
      <xs:element minOccurs="0" name="Price" type="xs:string"/>
      <xs:element name="Quantity" type="xs:int"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="catalogue">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="create_account">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstname" type="xs:string"/>
      <xs:element minOccurs="0" name="lastname" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="phone" type="xs:string"/>
      <xs:element minOccurs="0" name="line1_addresse_facturation" type="xs:string"/>
      <xs:element minOccurs="0" name="line2_addresse_facturation" type="xs:string"/>
      <xs:element minOccurs="0" name="zip_addresse_facturation" type="xs:string"/>
      <xs:element minOccurs="0" name="city_addresse_facturation" type="xs:string"/>
      <xs:element minOccurs="0" name="kind_addresse_facturation" type="xs:string"/>
      <xs:element minOccurs="0" name="line1_addresse_livraison" type="xs:string"/>
      <xs:element minOccurs="0" name="line2_addresse_livraisonn" type="xs:string"/>
      <xs:element minOccurs="0" name="zip_addresse_livraison" type="xs:string"/>
      <xs:element minOccurs="0" name="city_addresse_livraison" type="xs:string"/>
      <xs:element minOccurs="0" name="kind_addresse_livraison" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="create_accountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="account" type="tns:custumer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="assign_addresses_to_customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="line1_addresse_facturation" type="xs:string"/>
      <xs:element minOccurs="0" name="line2_addresse_facturation" type="xs:string"/>
      <xs:element minOccurs="0" name="zip_addresse_facturation" type="xs:string"/>
      <xs:element minOccurs="0" name="city_addresse_facturation" type="xs:string"/>
      <xs:element minOccurs="0" name="kind_addresse_facturation" type="xs:string"/>
      <xs:element minOccurs="0" name="line1_addresse_livraison" type="xs:string"/>
      <xs:element minOccurs="0" name="line2_addresse_livraisonn" type="xs:string"/>
      <xs:element minOccurs="0" name="zip_addresse_livraison" type="xs:string"/>
      <xs:element minOccurs="0" name="city_addresse_livraison" type="xs:string"/>
      <xs:element minOccurs="0" name="kind_addresse_livraison" type="xs:string"/>
      <xs:element minOccurs="0" name="custumer" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="assign_addresses_to_customerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="addresses_customer" type="tns:custumer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="categorie">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Livres"/>
      <xs:enumeration value="Bijoux"/>
      <xs:enumeration value="Telephonie"/>
      <xs:enumeration value="Vetement"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="statut">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Processing"/>
      <xs:enumeration value="Approved"/>
      <xs:enumeration value="Declined"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="steps">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ordered"/>
      <xs:enumeration value="Payed"/>
      <xs:enumeration value="Prepared"/>
      <xs:enumeration value="Send"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc">
  <xsd:element name="Unknown" type="tns:Unknown"/>
  <xsd:complexType name="Unknown">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="UnknownCustomerFault">
    <wsdl:part element="ns1:Unknown" name="UnknownCustomerFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create_account">
    <wsdl:part element="tns:create_account" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create_accountResponse">
    <wsdl:part element="tns:create_accountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create_order">
    <wsdl:part element="tns:create_order" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assign_addresses_to_customerResponse">
    <wsdl:part element="tns:assign_addresses_to_customerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assign_addresses_to_customer">
    <wsdl:part element="tns:assign_addresses_to_customer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create_orderResponse">
    <wsdl:part element="tns:create_orderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerRPC">
    <wsdl:operation name="create_order">
      <wsdl:input message="tns:create_order" name="create_order">
    </wsdl:input>
      <wsdl:output message="tns:create_orderResponse" name="create_orderResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownCustomerFault" name="UnknownCustomerFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create_account">
      <wsdl:input message="tns:create_account" name="create_account">
    </wsdl:input>
      <wsdl:output message="tns:create_accountResponse" name="create_accountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assign_addresses_to_customer">
      <wsdl:input message="tns:assign_addresses_to_customer" name="assign_addresses_to_customer">
    </wsdl:input>
      <wsdl:output message="tns:assign_addresses_to_customerResponse" name="assign_addresses_to_customerResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownCustomerFault" name="UnknownCustomerFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TeamForceRPCCustomerServiceSoapBinding" type="tns:CustomerRPC">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="create_order">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="create_order">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="create_orderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownCustomerFault">
        <soap:fault name="UnknownCustomerFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create_account">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="create_account">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="create_accountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assign_addresses_to_customer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="assign_addresses_to_customer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="assign_addresses_to_customerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownCustomerFault">
        <soap:fault name="UnknownCustomerFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeamForceRPCCustomerService">
    <wsdl:port binding="tns:TeamForceRPCCustomerServiceSoapBinding" name="TeamForceRPCCustomerPort">
      <soap:address location="http://localhost:8080/webservices/TeamForce-Customer-RPC"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>