webservices_TeamForce/wsdl/TeamForce-Employee-RPC.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc/Employee" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc" name="TeamForceRPCEmployeeService" targetNamespace="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc/Employee">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc/Employee" elementFormDefault="unqualified" targetNamespace="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc/Employee" version="1.0">

  <xs:element name="Addresse" type="tns:addresse"/>

  <xs:element name="Custumer" type="tns:custumer"/>

  <xs:element name="add_event_to_order" type="tns:add_event_to_order"/>

  <xs:element name="add_event_to_orderResponse" type="tns:add_event_to_orderResponse"/>

  <xs:element name="get_addresses_for_custumer" type="tns:get_addresses_for_custumer"/>

  <xs:element name="get_addresses_for_custumerResponse" type="tns:get_addresses_for_custumerResponse"/>

  <xs:element name="get_all_custumer" type="tns:get_all_custumer"/>

  <xs:element name="get_all_custumerResponse" type="tns:get_all_custumerResponse"/>

  <xs:element name="get_all_orders" type="tns:get_all_orders"/>

  <xs:element name="get_all_ordersResponse" type="tns:get_all_ordersResponse"/>

  <xs:element name="get_customer_by_phone" type="tns:get_customer_by_phone"/>

  <xs:element name="get_customer_by_phoneResponse" type="tns:get_customer_by_phoneResponse"/>

  <xs:element name="modify_statut" type="tns:modify_statut"/>

  <xs:element name="modify_statutResponse" type="tns:modify_statutResponse"/>

  <xs:element name="modify_steps" type="tns:modify_steps"/>

  <xs:element name="modify_stepsResponse" type="tns:modify_stepsResponse"/>

  <xs:complexType name="add_event_to_order">
    <xs:sequence>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
      <xs:element minOccurs="0" name="order" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="add_event_to_orderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="orders" type="tns:order"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="order">
    <xs:sequence>
      <xs:element minOccurs="0" name="custumer" type="xs:IDREF"/>
      <xs:element minOccurs="0" name="date_commande" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="events">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="events" type="tns:event"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="prducts">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="product" type="tns:product"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="order_statut" type="tns:statut"/>
      <xs:element minOccurs="0" name="order_steps" type="tns:steps"/>
    </xs:sequence>
    <xs:attribute name="amount" type="xs:string"/>
    <xs:attribute name="orderid" type="xs:ID"/>
  </xs:complexType>

  <xs:complexType name="custumer">
    <xs:sequence>
      <xs:element minOccurs="0" name="addresses">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addresse" type="tns:addresse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="firstname" type="xs:string"/>
      <xs:element minOccurs="0" name="lastname" type="xs:string"/>
      <xs:element minOccurs="0" name="orders">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="order" type="tns:order"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="phone" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
  </xs:complexType>

  <xs:complexType name="addresse">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" ref="tns:Custumer"/>
      <xs:element minOccurs="0" name="kind" type="xs:string"/>
      <xs:element minOccurs="0" name="line1" type="xs:string"/>
      <xs:element minOccurs="0" name="line2" type="xs:string"/>
      <xs:element minOccurs="0" name="zip" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="event">
    <xs:sequence>
      <xs:element minOccurs="0" name="order" type="xs:IDREF"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="text" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="product">
    <xs:sequence>
      <xs:element minOccurs="0" name="catalogue" type="xs:IDREF"/>
      <xs:element minOccurs="0" name="categorie" type="tns:categorie"/>
      <xs:element minOccurs="0" name="order" type="xs:IDREF"/>
      <xs:element minOccurs="0" name="Price" type="xs:string"/>
      <xs:element name="Quantity" type="xs:int"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="catalogue">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="get_customer_by_phone">
    <xs:sequence>
      <xs:element minOccurs="0" name="phone" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="get_customer_by_phoneResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="custumers" type="tns:custumer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="get_addresses_for_custumer">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="get_addresses_for_custumerResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="custumers" type="tns:addresse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="get_all_orders">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="get_all_ordersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="orders" type="tns:order"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modify_statut">
    <xs:sequence>
      <xs:element minOccurs="0" name="idOrder" type="xs:string"/>
      <xs:element minOccurs="0" name="statut" type="tns:statut"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modify_statutResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="order" type="tns:order"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modify_steps">
    <xs:sequence>
      <xs:element minOccurs="0" name="idOrder" type="xs:string"/>
      <xs:element minOccurs="0" name="steps" type="tns:steps"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modify_stepsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="order" type="tns:order"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="get_all_custumer">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="get_all_custumerResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="custumers" type="tns:custumer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="categorie">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Livres"/>
      <xs:enumeration value="Bijoux"/>
      <xs:enumeration value="Telephonie"/>
      <xs:enumeration value="Vetement"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="statut">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Processing"/>
      <xs:enumeration value="Approved"/>
      <xs:enumeration value="Declined"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="steps">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ordered"/>
      <xs:enumeration value="Payed"/>
      <xs:enumeration value="Prepared"/>
      <xs:enumeration value="Send"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://informatique.polytech.unice.fr/soa1/TeamForce/rpc">
  <xsd:element name="Unknown" type="tns:Unknown"/>
  <xsd:complexType name="Unknown">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="add_event_to_order">
    <wsdl:part element="tns:add_event_to_order" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_customer_by_phone">
    <wsdl:part element="tns:get_customer_by_phone" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_addresses_for_custumer">
    <wsdl:part element="tns:get_addresses_for_custumer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modify_stepsResponse">
    <wsdl:part element="tns:modify_stepsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_all_custumerResponse">
    <wsdl:part element="tns:get_all_custumerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modify_steps">
    <wsdl:part element="tns:modify_steps" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownCustomerFault">
    <wsdl:part element="ns1:Unknown" name="UnknownCustomerFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownOrderFault">
    <wsdl:part element="ns1:Unknown" name="UnknownOrderFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_all_orders">
    <wsdl:part element="tns:get_all_orders" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_addresses_for_custumerResponse">
    <wsdl:part element="tns:get_addresses_for_custumerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_customer_by_phoneResponse">
    <wsdl:part element="tns:get_customer_by_phoneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modify_statutResponse">
    <wsdl:part element="tns:modify_statutResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modify_statut">
    <wsdl:part element="tns:modify_statut" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_all_ordersResponse">
    <wsdl:part element="tns:get_all_ordersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_all_custumer">
    <wsdl:part element="tns:get_all_custumer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="add_event_to_orderResponse">
    <wsdl:part element="tns:add_event_to_orderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeeRPC">
    <wsdl:operation name="add_event_to_order">
      <wsdl:input message="tns:add_event_to_order" name="add_event_to_order">
    </wsdl:input>
      <wsdl:output message="tns:add_event_to_orderResponse" name="add_event_to_orderResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownOrderFault" name="UnknownOrderFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_customer_by_phone">
      <wsdl:input message="tns:get_customer_by_phone" name="get_customer_by_phone">
    </wsdl:input>
      <wsdl:output message="tns:get_customer_by_phoneResponse" name="get_customer_by_phoneResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownCustomerFault" name="UnknownCustomerFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_addresses_for_custumer">
      <wsdl:input message="tns:get_addresses_for_custumer" name="get_addresses_for_custumer">
    </wsdl:input>
      <wsdl:output message="tns:get_addresses_for_custumerResponse" name="get_addresses_for_custumerResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownCustomerFault" name="UnknownCustomerFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_all_orders">
      <wsdl:input message="tns:get_all_orders" name="get_all_orders">
    </wsdl:input>
      <wsdl:output message="tns:get_all_ordersResponse" name="get_all_ordersResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownCustomerFault" name="UnknownCustomerFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modify_statut">
      <wsdl:input message="tns:modify_statut" name="modify_statut">
    </wsdl:input>
      <wsdl:output message="tns:modify_statutResponse" name="modify_statutResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownOrderFault" name="UnknownOrderFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modify_steps">
      <wsdl:input message="tns:modify_steps" name="modify_steps">
    </wsdl:input>
      <wsdl:output message="tns:modify_stepsResponse" name="modify_stepsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownOrderFault" name="UnknownOrderFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_all_custumer">
      <wsdl:input message="tns:get_all_custumer" name="get_all_custumer">
    </wsdl:input>
      <wsdl:output message="tns:get_all_custumerResponse" name="get_all_custumerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TeamForceRPCEmployeeServiceSoapBinding" type="tns:EmployeeRPC">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add_event_to_order">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="add_event_to_order">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="add_event_to_orderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownOrderFault">
        <soap:fault name="UnknownOrderFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_customer_by_phone">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="get_customer_by_phone">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="get_customer_by_phoneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownCustomerFault">
        <soap:fault name="UnknownCustomerFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_addresses_for_custumer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="get_addresses_for_custumer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="get_addresses_for_custumerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownCustomerFault">
        <soap:fault name="UnknownCustomerFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_all_orders">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="get_all_orders">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="get_all_ordersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownCustomerFault">
        <soap:fault name="UnknownCustomerFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modify_statut">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="modify_statut">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modify_statutResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownOrderFault">
        <soap:fault name="UnknownOrderFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modify_steps">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="modify_steps">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modify_stepsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownOrderFault">
        <soap:fault name="UnknownOrderFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_all_custumer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="get_all_custumer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="get_all_custumerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeamForceRPCEmployeeService">
    <wsdl:port binding="tns:TeamForceRPCEmployeeServiceSoapBinding" name="TeamForceRPCEmployeePort">
      <soap:address location="http://localhost:8080/webservices/TeamForce-Employee-RPC"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>